In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [5]:
#importing independent features dataset
x = pd.read_csv('x_train_final.csv')
x.head()

,MSSubClass,MSZoning,Neighborhood,OverallQual,YearRemodAdd,RoofStyle,BsmtQual,BsmtExposure,HeatingQC,CentralAir,...,GrLivArea,BsmtFullBath,KitchenQual,Fireplaces,FireplaceQu,GarageType,GarageFinish,GarageCars,PavedDrive,SaleCondition
0,0.235294,0.75,0.636364,0.666667,0.098361,0.0,0.75,0.25,1.00,1.0,...,0.577712,0.333333,0.666667,0.000000,0.2,0.8,0.666667,0.50,1.0,0.75
1,0.000000,0.75,0.500000,0.555556,0.524590,0.0,0.75,1.00,1.00,1.0,...,0.470245,0.000000,0.333333,0.333333,0.6,0.8,0.666667,0.50,1.0,0.75
2,0.235294,0.75,0.636364,0.666667,0.114754,0.0,0.75,0.50,1.00,1.0,...,0.593095,0.333333,0.666667,0.333333,0.6,0.8,0.666667,0.50,1.0,0.75
3,0.294118,0.75,0.727273,0.666667,0.606557,0.0,0.50,0.25,0.75,1.0,...,0.579157,0.333333,0.666667,0.333333,0.8,0.4,0.333333,0.75,1.0,0.00
4,0.235294,0.75,1.000000,0.777778,0.147541,0.0,0.75,0.75,1.00,1.0,...,0.666523,0.333333,0.666667,0.333333,0.6,0.8,0.666667,0.75,1.0,0.75

In [6]:
#importing dependent feature
y = pd.read_csv('y_train.csv')
y.head()

   SalePrice
0  12.247694
1  12.109011
2  12.317167
3  11.849398
4  12.429216

In [8]:
#Doing train test split
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.25, random_state=42)

In [12]:
X_train.shape , X_test.shape

((1095, 21), (365, 21))

In [13]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [28]:
# Predicting the Test set results
y_pred = pd.DataFrame(regressor.predict(X_test),columns = ['Predicted'])

In [36]:
y_pred.head()

   Predicted
0  11.782528
1  12.720596
2  11.657756
3  11.919353
4  12.725974

In [30]:
y_pred.shape,y_test.shape

((365, 1), (365, 1))

In [37]:
df = pd.concat([y_test.reset_index(drop=True),y_pred],axis = 1)

In [38]:
df.head(25)

    SalePrice  Predicted
0   11.947949  11.782528
1   12.691580  12.720596
2   11.652687  11.657756
3   11.976659  11.919353
4   12.661914  12.725974
5   11.231888  11.254387
6   12.649155  12.311466
7   11.891362  11.905150
8   11.344507  11.244253
9   11.816727  11.712605
10  11.884489  11.910712
11  11.775290  11.676766
12  11.302204  11.422497
13  12.273731  12.269640
14  12.106252  12.062556
15  11.809319  11.807189
16  12.119970  12.231448
17  11.813030  11.753948
18  11.681824  11.605866
19  12.328290  12.299792
20  11.951180  12.117293
21  12.254863  12.275037
22  12.063933  12.135504
23  11.767568  11.757107
24  12.165251  12.284226